<h1> Bulletin_board!! (<%= @numOfPosts %>)</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Comment</th>
  </tr>

<% @posts.reverse_each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.email %></td>
    <td><%= p.message %></td>
  </tr>
<% end %>
</table>

<%= form_for @newPost, :url => {:action => 'create'} do |p| %>
  name:
  <%= p.text_field :name %> <br>
  email:
  <%= p.email_field :email %> <br>
  message:
  <%= p.text_area :message %> <br>
  <%= p.submit "Submit" %>
<% end %>
